<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Hoofdstukken om af te werken</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>ID</th>
      <th>Les</th>
      <th>Hoofdstuk</th>
      <th>Prioriteit</th>
      <th>Datum</th>
      <th>Is doorgenomen</th>
      </thead>
      <tbody>
      <tr *ngFor="let chapter of chapters; let i = index" [class.completed]="chapter.isFinished">
        <td>{{i+1}}</td>
        <td [class.novalue]="chapter.theme == null">{{chapter.theme ? chapter.theme.title : 'Geen vak aanverbonden'}}</td>
        <td>{{chapter.title}}</td>
        <td [class.novalue]="chapter.priority == null">{{chapter.priority ? chapter.priority.title : 'Geen prioriteit aanverbonden'}}</td>
        <td [class.novalue]="chapter.date == null">{{chapter.date ?  (chapter.date | date) : 'Geen datum aanverbonden'}}</td>
        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value=""
                     [checked]="chapter.isFinished"
                     (click)="toggleChapterCompleted(chapter)">
              <span class="form-check-sign">
                <span class="check"></span>
               </span>
            </label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
