<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Hoofdstukken om af te werken</h4>
  </div>
  <div class="card-body table-responsive" *ngIf="chapters?.length > 0">

    <table [dataSource]="dataSource" mat-table matSort>

      <!--  color priority  -->
      <ng-container matColumnDef="color">
        <th *matHeaderCellDef mat-header-cell></th>
        <td class="col-color" *matCellDef="let element" [style.background-color]="getPriorityColor(element)"mat-cell></td>
      </ng-container>

      <!--  id of chapter  -->
      <ng-container matColumnDef="chapterId">
        <th *matHeaderCellDef mat-header-cell> No. </th>
        <td class="col-id" *matCellDef="let index = index" mat-cell> {{ index + 1 }}</td>
      </ng-container>

      <!--  chapter name  -->
      <ng-container matColumnDef="chapterName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Chapter name </th>
        <td class="col-name" *matCellDef="let element" [class.completed]="element.isFinished" mat-cell>{{ element.title }}</td>
      </ng-container>

      <!--subject name-->
      <ng-container matColumnDef="subjectName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Subject </th>
        <td class="col-sname" *matCellDef="let element"
            [ngClass]="{'completed': element.isFinished, 'novalue': element.theme == null}"
            mat-cell>
                {{element.theme ? element.theme.title : "-"}}
        </td>
      </ng-container>

      <!--subject name-->
      <ng-container matColumnDef="priorityName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Priority </th>
        <td class="col-prio" *matCellDef="let element"
            [ngClass]="{'completed': element.isFinished, 'novalue': element.priority == null}"
            mat-cell>
          {{element.priority ? element.priority.title : "-"}}
        </td>
      </ng-container>


      <!--datum-->
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell> Date </th>
        <td class="col-date" *matCellDef="let element" [ngClass]="{'completed': element.isFinished, 'novalue': element.date == null}"
            mat-cell>

          {{element.date | date }}

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



  </div>

  <div *ngIf="chapters?.length == 0"><p class="not-found">No subjects</p></div>

</div>
