<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>
  <mat-form-field>
    <mat-label>Title*</mat-label>
    <input
      #inputTitle
      matInput
      (keydown.enter)="onConfirm()"
      [(ngModel)]="tmpTitle">
    <button
      (click)="tmpTitle= ''" class="dialog-chapter-title"
      *ngIf="tmpTitle.trim().length > 0" aria-label="Clear"  mat-button mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>


<mat-form-field>
  <mat-label>Select subject</mat-label>

  <mat-select [(ngModel)]="tmpTheme">
    <mat-option [value]="null">no subject</mat-option>
    <mat-option *ngFor="let theme of themes" [value]="theme">
      {{theme.title}}
    </mat-option>
  </mat-select>

</mat-form-field>

<mat-form-field>
  <mat-label>Select subject</mat-label>

  <mat-select [(ngModel)]="tmpPriority">
    <mat-option [value]="null">no prio</mat-option>
    <mat-option *ngFor="let prio of priorities" [value]="prio">
      {{prio.title}}
    </mat-option>
  </mat-select>

</mat-form-field>


<mat-dialog-actions>
  <button
    (click)="onConfirm()" [disabled]="inputTitle.value.trim().length==0"
    color="primary"
    mat-raised-button>  <!-- als titel empty is cancel knop is niet actief -->
    Save
  </button>
  <button (click)="onCancel()" mat-raised-button>Cancel</button>
</mat-dialog-actions>



