<div class="wrapper ">
  <app-subjects  (selectTheme) = "onSelectTheme($event)"
                    [themes]="themes"
                      [selectedTheme]="selectedTheme"
                        (deleteTheme)="onDeletetheme($event)"
                          (updateTheme)="onUpdateTheme($event)"></app-subjects>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <app-chapters [chapters]="chapters"
                            (updateChapter)="onUpdateChapter($event)"
                              (deleteChapter)="onDeleteChapter($event)"
                                (selectTheme)="onSelectTheme($event)"
                                  (addChapter)="onAddChapter($event)"></app-chapters>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
